*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

header {
    width: 100%;
    background-color: white;
    padding: 0.7rem;
}

.fa-phone:before {
    font-size: 1.5rem;
    color: #ffc107;
    display: inline-flex;
}

.brand {
    font-family: 'Homemade Apple',
        cursive;
    color: darkgrey;
    font-weight: 600;

}

h1 {
    font-size: 1.8rem;
    color: rgb(24, 23, 23);
    margin: auto 1rem;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
    position: absolute;
    left: 150px;
    top: 80px;
    padding-bottom: 1rem;

}

h3 {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    margin: auto;
    margin-bottom: 1rem;
}

.jumbo {
    background-color: whitesmoke;
    height: auto;
    margin: auto;
    padding: 1rem;
    width: 100%;
}

.contact-page {
    height: 100%;
    width: 100%;
}

.contact-form {
    /* display: none; */
    height: auto;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px 1px #ccc2c2;
    width: 60%;
    margin: auto;
    justify-content: center;
    padding: 2rem 3rem 3rem 3rem;
    margin-top: 3rem;
}


#nameInput,
#phoneInput,
#emailInput {
    border: 1px solid#ffc107;
    border-radius: 0.5rem;
    width: 100%;
    font-family: 'Homemade Apple',
        cursive;
    font-size: 0.9rem;
    height: 2rem;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    outline: 0;
    margin-block-start: 0.4rem;

}

.alert-success {
    color: #14e014;
    background-color: #fff;
    font-size: 1.2rem;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;

}

.alert-danger {
    color: #ee2020;
    background-color: #fff;
    font-size: 1.2rem;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
}

.btn {
    color: #ffc107;
    background-color: #fff;
    font-size: 3rem;
    border-radius: 50%;
    position: absolute;
    right: 60px;
    top: 0;
    border: none;
    outline: 0;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
    opacity: 0.9;
    margin: 0.2rem;
}



#submitBtn {
    background-color: #ffc107;
    width: 100%;
    margin-top: 0.5rem;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 0.5rem;
    border: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0.3rem;
}

#submitBtn:hover,
.delete-btn:hover,
.edit-btn:hover {
    opacity: 0.8;
}

.delete-btn {
    display: inline-flex;
    background-color: #ee2020;
    color: #fff;
    font-size: 1rem;
    margin: 0.8rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.8rem;
}

.edit-btn {
    display: inline-flex;
    background-color: #fff;
    font-size: 0.9rem;
    color: #ffc107;
    margin: 0.7rem;
    border-radius: 0.5rem;
    padding: 0 0.1rem;
}

/* rendered contacts  */
ul {
    width: 50%;
    padding: 1.5rem 1.2rem;
    height: auto;
    font-family: 'Homemade Apple',
        cursive;
    text-align: center;
    margin: auto;
    margin-top: 0.8rem;
    background-color: #ffc107;
    box-shadow: 6px 5px 2px #ccc2c2;
    border-radius: 0.5rem;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    ul {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    h2 {
        width: fit-content;
        font-size: 1rem;
        margin: 8px -120px;
    }
}


li {
    list-style: none;
    font-size: 1.2rem;
    margin: 0.2rem 0;
}

#output {
    margin-top: 1.8rem;
}

.toggled {
    display: none;

}