*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin: 0;
}

header {
    width: 100%;
    background-color: white;
    padding: 0.6rem;
}

.fa-phone:before {
    font-size: 1.3rem;
    color: #ffc107;
    display: inline-flex;
}

.brand {
    font-family: 'Homemade Apple',
        cursive;
    color: darkgrey;

}

h1 {
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: rgb(24, 23, 23);
}

h2 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    margin-bottom: 1rem;
    margin-inline-start: 1rem;

}

.main-container {
    width: 100%;
    height: 100vh;
}

.contact-page {
    height: 100%;
    width: 100%;
}

.contact-form {
    background-color: whitesmoke;
    box-shadow: 2px 2px 4px #ccc2c2;
    width: 60%;
    margin: auto;
    justify-content: center;
    padding: 2rem 3rem 3rem 3rem;
}


#nameInput,
#phoneInput,
#emailInput {
    border: 1px solid#ffc107;
    border-radius: 0.5rem;
    width: 100%;
    font-family: 'Homemade Apple',
        cursive;
    font-size: 0.9rem;
    height: 2rem;
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    outline: 0;
    margin-block-start: 0.4rem;
}

.alert-success {
    color: #14e014;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
}

.alert-danger {
    color: #ee2020;
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
}

.btn {
    background-color: darkgrey;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
    display: inline-block;
    margin-top: 0.5rem;
    border: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
    padding: 0.3rem;
    margin-inline-start: 0.2rem;
}

.btn:hover,
a:hover {
    opacity: 0.8;
}

#submitBtn {
    background-color: #ffc107;
    ;
    width: 100%;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.delete-btn {
    background-color: #ee2020;
    color: #fff;
    font-size: 0.9rem;
    margin: 0.8rem;
    border-radius: 0.5rem;
    padding: 0 0.8rem;
}

.edit-btn {
    background-color: #ffc107;
    font-size: 0.9rem;
    color: #fff;
    margin: 0.8rem;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
}

ul {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 1.2rem 1rem;
    height: auto;
}

/* .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
} */

li {
    list-style: none;
    font-size: 0.9rem;
    display: grid;
    margin-top: 0.2rem;
}

#output {
    padding: 1rem;
}

/* rendered contacts  */
.contact-headings {
    padding: 1rem 1rem 0 1.5rem;
    text-align: center;
    font-family: 'Homemade Apple',
        cursive;
    font-size: 1rem;
    margin: auto;
}

#renderedContact {
    background-color: #fff;
    width: fit-content;
    font-size: 1rem;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 2px 2px 4px #ccc2c2;
}

.toggled {
    display: none;
}